.textArea {
  width: 100%;
  height: 74px;
  border: 1px solid #777777;
  border-radius: 8px;
  font-size: 14px;
  font-family: var(--font-roboto);
  padding: 7px 11px;
  resize: none;
}

.textArea::placeholder {
  color: #CCCCCC;
}